<!--  Define la ruta URL para acceder a esta p치gina -->
@page "/literal"
@inherits FrontBlazor.Services.ValidacionAcceso
<!--  Importa el espacio de nombres para trabajar con JSON -->
@using Services

<!--  Importa el espacio de nombres donde se encuentra el ServicioEntidad-->
@inject ServicioEntidad servicioEntidad

<PageTitle>Literal</PageTitle>

<h1>Literal</h1>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="ManejarClickListar">Listar</button>
</div>

@if (Cargando)
{
    <p><em>Cargando...</em></p>
}
else
{

    @if (CargarTabla && literales != null && literales.Count > 0)
    {
        <div class="table-responsive tableContainer" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>C칩digo</th>
                        <th>Descripci칩n</th>
                        <th>Articulo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var literal in literales)
                    {
                        <tr>
                            <td>@ObtenerValor(literal, "id")</td>
                            <td>@ObtenerValor(literal, "descripcion")</td>
                            <td>@ObtenerValor(literal, "articulo")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if ((literales == null || literales.Count == 0) && CargarTabla)
    {
        <p>No hay literales disponibles.</p>
    }

}

<!-- Mostrar mensaje de error si existe -->
@if (mensaje != null)
{
    <div class="alert alert-secondary m-3">
        @mensaje
    </div>
}



@code {


    // Lista para almacenar los productos que se obtienen de la API
    private List<Dictionary<string, object>> literales = new List<Dictionary<string, object>>();

    // Variable para almacenar mensajes de error
    private string? mensaje = null;
    // Constantes para los par치metros de la API
    private const string PROYECTO = "proyecto";
    private const string TABLA = "literal";
    // Variables visibilidad
    private bool Cargando = true;
    private bool CargarTabla = false;


    protected override async Task OnInitializedAsync()
    {
        await Cargarliterales();
    }

    private async Task ManejarClickListar()
    {
        mensaje = null;
        CargarTabla = true;
        await Cargarliterales();
    }

    private async Task Cargarliterales()
    {
        Cargando = true;
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.EjecutarConsultaAsync(PROYECTO, TABLA, new Dictionary<string, object> { { "consulta", "SELECT dbo.literal.id, dbo.literal.descripcion, dbo.articulo.nombre AS articulo FROM dbo.articulo INNER JOIN dbo.literal ON dbo.articulo.id = dbo.literal.fkidarticulo" } });
            if (resultado != null)
            {
                literales = resultado;
            }
            else
            {
                literales = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar literales: {ex.Message}";
            literales = new List<Dictionary<string, object>>();
        }
        finally
        {
            Cargando = false;
            CargarTabla = true;
        }
    }

    private string ObtenerValor(Dictionary<string, object> diccionario, string clave)
    {

        if (diccionario == null)
            return string.Empty;

        if (diccionario.TryGetValue(clave, out var valor))
        {
            return valor?.ToString() ?? string.Empty;
        }

        return string.Empty;
    }

}