<!--  Define la ruta URL para acceder a esta página -->
@page "/subseccion"

<!--  Importa el espacio de nombres para trabajar con JSON -->
@using Services

<!--  Importa el espacio de nombres donde se encuentra el ServicioEntidad-->
@inject ServicioEntidad servicioEntidad

<PageTitle>SubSeccion</PageTitle>

<h1>SubSeccion</h1>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="ManejarClickListar">Listar</button>
</div>


@if (Cargando)
{
    <p><em>Cargando...</em></p>
}
else
{

    @if (VisFormConsultar)
    {
        <EditForm Model="@formulario" OnValidSubmit="CargarSeccionPorClave">
            <div class="mb-3">
                <label for="idConsultar">Código:</label>
                <input type="number" class="form-control" @bind="formulario.Codigo" id="idConsultar" />
            </div>
            <button type="submit" class="btn btn-primary me-3">Consultar</button>
            @if (VisFormEliminar)
            {
                <button type="button" class="btn btn-danger" @onclick="EliminarSeccion">Eliminar registro</button>
            }
            else if (VisFormActualizar)
            {
                <button type="button" class="btn btn-warning me-3" @onclick="ActualizarSeccion">Actualizar registro</button>
                <div class="mb-3">
                    <label for="nombreActualizar">Nuevo nombre:</label>
                    <input type="text" class="form-control" @bind="formulario.Nombre" id="nombreActualizar" />
                </div>
            }
        </EditForm>
    }

    @if (VisFormCrear)
    {
        <EditForm Model="@formulario" OnValidSubmit="CrearSeccion">

            <div class="mb-3">
                <label for="nombreCrear">Nombre:</label>
                <input type="text" class="form-control" @bind="formulario.Nombre" id="nombreCrear" />
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
        </EditForm>
    }

    @if (CargarTabla && secciones != null && secciones.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var seccion in secciones)
                    {
                        <tr>
                            <td>@ObtenerValor(seccion, "id")</td>
                            <td>@ObtenerValor(seccion, "nombre")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if ((secciones == null || secciones.Count == 0) && CargarTabla)
    {
        <p>No hay secciones disponibles.</p>
    }

}

<!-- Mostrar mensaje de error si existe -->
@if (mensaje != null)
{
    <div class="alert alert-secondary m-3">
        @mensaje
    </div>
}


@code {

    // Lista para almacenar los productos que se obtienen de la API
    private List<Dictionary<string, object>> secciones = new List<Dictionary<string, object>>();

    // Variable para almacenar el formulario de sección
    private FormularioSeccion formulario = new FormularioSeccion();

    // Variable para almacenar mensajes de error
    private string? mensaje = null;

    // Constantes para los parámetros de la API
    private const string PROYECTO = "proyecto";
    private const string TABLA = "subseccion";

    // Variables visibilidad
    private bool Cargando = true;
    private bool CargarTabla = false;
    private bool VisFormConsultar = false;
    private bool VisFormCrear = false;
    private bool VisFormActualizar = false;
    private bool EstadoActualizando = false;
    private bool VisFormEliminar = false;
    private bool EstadoEliminando = false;




    protected override async Task OnInitializedAsync()
    {
        await CargarSecciones();
    }

    private class FormularioSeccion
    {
        public string Codigo { get; set; } = "";
        public string Nombre { get; set; } = "";
    }

    private async Task ManejarClickListar()
    {
        mensaje = null;
        formulario = new FormularioSeccion();
        CargarTabla = true;
        VisFormConsultar = false;
        VisFormCrear = false;
        await CargarSecciones();
    }

    private void ManejarClickConsultar()
    {
        mensaje = null;
        formulario = new FormularioSeccion();
        VisFormConsultar = true;
        VisFormCrear = false;
        VisFormActualizar = false;
        VisFormEliminar = false;
        CargarTabla = false;
        EstadoActualizando = false;
        EstadoEliminando = false;
    }

    private void ManejarClickCrear()
    {
        mensaje = null;
        formulario = new FormularioSeccion();
        VisFormCrear = true;
        VisFormConsultar = false;
        VisFormActualizar = false;
        VisFormEliminar = false;
        CargarTabla = false;
        EstadoActualizando = false;
        EstadoEliminando = false;
    }

    private void ManejarClickActualizar()
    {
        mensaje = null;
        formulario = new FormularioSeccion();
        EstadoActualizando = true;
        VisFormConsultar = true;
        VisFormActualizar = false;
        VisFormCrear = false;
        VisFormEliminar = false;
        CargarTabla = false;
        EstadoEliminando = false;
    }

    private void ManejarClickEliminar()
    {
        mensaje = null;
        formulario = new FormularioSeccion();
        EstadoEliminando = true;
        VisFormConsultar = true;
        VisFormEliminar = false;
        VisFormCrear = false;
        VisFormActualizar = false;
        CargarTabla = false;
        EstadoActualizando = false;
    }

    private async Task CargarSecciones()
    {
        Cargando = true;
        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.ObtenerTodosAsync(PROYECTO, TABLA);
            if (resultado != null)
            {
                secciones = resultado;
            }
            else
            {
                secciones = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al cargar secciones: {ex.Message}";
            secciones = new List<Dictionary<string, object>>();
        }
        finally
        {
            Cargando = false;
            CargarTabla = true;
        }
    }

    private async Task CargarSeccionPorClave()
    {
        Cargando = true;

        VisFormActualizar = false;
        VisFormEliminar = false;

        mensaje = null;


        try
        {

            var resultado = await servicioEntidad.ObtenerPorClaveAsync(PROYECTO, TABLA, "id", $"{formulario.Codigo}");

            if (resultado != null)
            {
                secciones = new List<Dictionary<string, object>>() { resultado };
                if (secciones != null && secciones.Count > 0)
                {
                    if (EstadoEliminando)
                    {
                        VisFormEliminar = true;
                    }
                    else if (EstadoActualizando)
                    {
                        VisFormActualizar = true;
                    }
                }
            }
            else
            {
                secciones = new List<Dictionary<string, object>>();
            }
        }
        catch (Exception ex)
        {

            mensaje = $"Error al cargar seccion: {ex.Message}";
            secciones = new List<Dictionary<string, object>>();
        }
        finally
        {
            Cargando = false;
            CargarTabla = true;
        }
    }

    private async Task CrearSeccion()
    {
        Cargando = true;

        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.CrearAsync(PROYECTO, TABLA, new Dictionary<string, object>(){{ "nombre",
formulario.Nombre }});

            if (resultado)
            {
                mensaje = "Sección creada con éxito";
                formulario = new FormularioSeccion();
            }
            else
            {
                mensaje = "Error al crear sección";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al crear sección: {ex.Message}";
        }
        finally
        {
            Cargando = false;
        }

    }

    private async Task ActualizarSeccion()
    {
        Cargando = true;

        mensaje = null;

        try
        {
            var resultado = await servicioEntidad.ActualizarAsync(PROYECTO, TABLA, "id", formulario.Codigo, new Dictionary<string,
            object>(){{ "nombre",
formulario.Nombre }});

            if (resultado)
            {
                mensaje = "Sección actualizada con éxito";
                formulario = new FormularioSeccion();
            }
            else
            {
                mensaje = "Error al actualizar sección";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al actualizar sección: {ex.Message}";
        }
        finally
        {
            Cargando = false;
        }
    }

    private async Task EliminarSeccion()
    {
        Cargando = true;

        mensaje = null;

        try
        {

            var resultado = await servicioEntidad.EliminarAsync(PROYECTO, TABLA, "id", formulario.Codigo);

            if (resultado)
            {
                mensaje = "Sección eliminada con éxito";
                formulario = new FormularioSeccion();
            }
            else
            {
                mensaje = "Error al eliminar sección";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error al eliminar sección: {ex.Message}";
        }
        finally
        {
            Cargando = false;
        }
    }

    private string ObtenerValor(Dictionary<string, object> diccionario, string clave)
    {

        if (diccionario == null)
            return string.Empty;

        if (diccionario.TryGetValue(clave, out var valor))
        {
            return valor?.ToString() ?? string.Empty;
        }

        return string.Empty;
    }

}