<!-- Directiva que establece que este componente es accesible en la ruta raíz de la aplicación -->
<!-- La página será la página de inicio (ruta "/") -->
@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido!!</h1>

<br>
<br>

<h2>Desarrolladores</h2>
<br>
<p>
    - Jhonatan Toro Hurtado
</p>
<p>
    - Juan Camilo Marín Daza
</p>
<p>
    - Samir Steven Murillo Betancur
</p>