<!-- Directiva que establece que este componente es accesible en la ruta raíz de la aplicación -->
<!-- La página será la página de inicio (ruta "/") -->
@page "/home"

<PageTitle>Home</PageTitle>

<h1>Bienvenido!!</h1>

<br>
<br>

<h2 class="mb-2">Desarrolladores</h2>
<ul class="mb-4">
    <li>
        Jhonatan Toro Hurtado
    </li>
    <li>
        Samir Steven Murillo Betancur
    </li>
</ul>
<h2>Repositorios Github</h2>
<ul>
    <li>
        <span>
            <strong>
                Frontend:
            </strong>
        </span><a href="https://github.com/JhonatanTH7/Frontend-Blazor" target="_blank" rel="noopener noreferrer">Click
            aqui para ser redirigido</a>
    </li>
    <li>
        <span><strong>Backend: </strong> </span><a href="https://github.com/JhonatanTH7/csharpapigenerica"
            target="_blank" rel="noopener noreferrer">Click aqui para ser
            redirigido</a>
    </li>
</ul>